.navBar {
    overflow: hidden;
    padding: 0% 1%;
    max-width: 960px;
    margin: 0 auto;
}

.content {
    padding: 0% 1%;
    max-width: 960px;
    margin: 20px auto;
    border-radius: 10px;
    padding-bottom: 20px;
    overflow: auto;
    background-color: rgb(237, 239, 248);
    box-shadow: 2px 2px 10px 2px #7d7d7d;
}

.aboutMe{
    border-width: 0px 0px 3px 0px;
    border-style: solid;
    border-color: #000203;
}

.imgAndDesc img{
    float: left;
    margin-right: 10px;
    height: 200px;
    width: 150px;
}

.footer{
    height: 50px;
    /* margin-top:-50px; */
    text-align: center;
    padding-top: 1px;
    background-color: #000203;
    color:#ffffff;
}

.fullWidth {
    min-width: 100%;
}

.msgInput{
    min-height: 100px;
}

.mainContent{
    min-height: 100%;
}

html{
    height: 100%;
    margin: 0;
}

.submitBtn{
    background-color: #000203;
    border: none;
    color: white;
    padding: 10px 16px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10%;
}


.submitBtn:hover{
    background-color: #2D6178;
}
form div{
    padding-top: 10px;
}

/* Style the links inside the navigation bar */
.navBar a {
    float: right;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    line-height: 79px;
    font-family: arial;
    width: 8%;
}

.myName{
    background-color: #2D6178;
    font-family: 'poiret one', arial;
    font-size: 25px;
}
/* Change the color of links on hover */
.navBar a:hover {
    background-color: #84A59C;
    color: #000203;
}

/* Add a color to the active/current link */
.navBar a.active {
    background-color: #2D6178;
    color: white;
}

.navBar div {
    float:left;
    padding: 0% 1%;
    color: #f2f2f2;
}

body{
    background-color: #CBE0E5;
    height: 100%;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

header{
    background-color: #000203;
    box-shadow: 2px 2px 10px 2px #7d7d7d;
}

.projects{
    max-width: 760px;
    margin: 0px auto;
    overflow: auto;
}

.proj1 {
    position: relative;
    float: left;
    text-align: center;
    align-content: space-around;
    margin: 10px 65px 0px 90px;
}

.centerBottomText {
    position: absolute;
    top: 31%;
    left: 50%;
    transform: translate(-50%, +222%);
    background: rgb(237, 239, 248);
    background: linear-gradient(0deg, rgba(237, 239, 248, 1) 0%, rgba(237, 239, 248, 1) 21%, rgba(237, 239, 248, 0.785049053801208) 59%, rgba(237, 239, 248, 0.26404065043986347) 81%, rgba(237, 239, 248, 0) 100%);
    min-width: 105%;
    font-size: 20px;
    padding: 10px 0px;
}

h2 {
    font-family: 'poiret one', arial;
    font-size: 28px;
    padding-left: 15px;
}